<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Foca - Perfil</title>
    <link rel="shortcut icon" href="../imgs/foca_branco.svg" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/locales-all.global.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/cores.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&" />
    <script src="../scripts/main-user.js"></script>
</head>
<body>
    <header>
        <div class="bg-[--color-dark] w-full h-[35vh] relative bg-cover">
            <div class="size-48 absolute -bottom-20 left-48 border-4 border-[--color-items-primary] rounded-full">
                <img class="object-cover rounded-full" id="profilePic" src="/upload/default-profile.png" alt="">
            </div>
        </div>
    </header>
</body>
</html>