@import url(cores.css);

.cta-button {
    border: none;
    width: fit-content;

    background: linear-gradient(180deg, var(--color-items-primary), var(--color-items-second));
    
    border-radius: 0.5rem;
    z-index: 1;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: clamp(8px, calc(0.33rem + 0.56vw), 1rem);

    text-decoration: none;

    &:before {
        content: "Começar Agora!";
        white-space: nowrap;
        text-align: center;
        color: var(--text-light);
        font-family: "Nunito", sans-serif;
        font-size: clamp(12px, calc(0.4rem + 0.66vw), 1.2rem);
        font-weight: 800;
    }

    &:after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0%;
        background: var(--accent);
        z-index: -1;
        transition: 300ms ease;
        border-radius: .5rem;
    }

    &:hover {
        &:after{
            height: 100%;
        }
    }
}

.cta-button.invert {
    background: linear-gradient(180deg, var(--bg-primary), var(--bg-second));
    &:before {
        color: var(--color-items-primary);
        transition: .3s ease;
    }
    &:hover {
        &:before {
            color: var(--text-light);
        }
    }
}

#header {
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 999;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;

    padding: 10px 10%;

    transition: background 0.3s ease-in-out;
}

.header-title {
    cursor: pointer;
    width: 100px;
    height: auto;
    display: flex;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 36px;

    & a {
        text-decoration: none;
        color: var(--text-light);
        font-size: 18px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
    }
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;

    & .navbar-login {
        text-decoration: none;
        color: var(--text-light);
        font-size: 16px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        white-space: nowrap;
    }
}

/* ====================== */

#start-now {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 50%;
    height: 100%;
    gap: clamp(16px, calc(1.05rem + 1vw), 48px);

    padding: 0 0 0 100px;

    color: var(--text-light);
}
.title{
    font-size: calc(1.05rem + 1.74vw);
}
.subtitle{
    font-size: calc(0.5rem + 0.84vw);
    font-weight: 500;
}

.hero-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    animation: floating 2s ease-in-out infinite alternate;
    & img {
        width: 100%;
        height: 100%;
        max-height: calc(15.62rem + 26.05vw);;
        max-width: calc(15.62rem + 26.05vw);;
        object-fit: cover;
    }
}

#about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    width: 50%;
    height: 100%;
}

.wrapper-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 50%;
    height: 100%;
    gap: clamp(16px, calc(1.05rem + 1vw), 48px);

    padding: 0 100px 0 0;

    color: var(--color-items-primary);

    text-align: right;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}
