@import url(user-styles.css);
@import url(cores.css);

.navbar .navbar-links a:nth-child(1) li{
    box-shadow: inset 250px 0px 0px var(--color-items-primary50);
    color: var(--text-light);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.first-header {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.section-info h3 {
    font-size: 19px;
    line-height: 5px;
    font-weight: 400;
}
.section-info h1 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-items-primary);
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-container .container {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 800;
    & span {
        color: var(--accent);
    }
}

.progress-bar-xp {
    overflow: hidden;
    width: 100px;
    height: 5px;
    background: var(--color-dark);
    border-radius: 5px;
}
.progress-fill-xp {
    width: 60%;
    height: 5px;
    background: var(--color-items-primary);
}

.profile-container .profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px var(--color-items-primary) solid;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.theme-button {
    color: var(--text-theme);
    
    transition: .3s ease;

    cursor: pointer;
}

.art-section {
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    margin: 1.4rem 0;
}

.art-section .image {
    position: relative;
    width: 100%;
    height: 100%;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
    }
}

.art-content {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    color: var(--text-light);
    z-index: 1;
    & .texts {
        margin-bottom: 20px;
        & h2 {
            font-size: 2.8rem;
            font-weight: 900;
        }
        & p {
            font-size: .9rem;
            font-weight: 500;
        }
    }
}

.cta-button {
    cursor: pointer;
    border: none;
    width: fit-content;

    background: linear-gradient(180deg, var(--color-items-primary), var(--color-items-second));
    
    border-radius: 0.5rem;
    z-index: 1;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px;

    text-decoration: none;

    &:before {
        content: "CRIAR ROTINA";
        white-space: nowrap;
        text-align: center;
        color: var(--text-light);
        font-family: "Nunito", sans-serif;
        font-size: 18px;
        font-weight: 800;
    }

    &:after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0%;
        background: var(--accent);
        z-index: -1;
        transition: 300ms ease;
        border-radius: .5rem;
    }

    &:hover {
        &:after{
            height: 100%;
        }
    }
}

#calendar {
    width: 100%;
}

.fc-theme-standard td, .fc-theme-standard th, .fc-theme-standard .fc-scrollgrid {
    border: transparent;
}

.fc-theme-standard tr {
    border: 1px solid var(--bg-third);
}


.fc .fc-timegrid-slot-label-cushion {
    font-size: .85em;
    font-weight: 400;
    padding: 0 1rem;
    &:after{
        content: "h00";
    }
}

.fc .fc-timegrid-slot {
    height: 3rem;
}

.fc .fc-scroller-liquid-absolute::-webkit-scrollbar {
    width: 7px;
}

.fc .fc-scroller-liquid-absolute::-webkit-scrollbar-track {
    background: transparent;
}

.fc .fc-scroller-liquid-absolute::-webkit-scrollbar-thumb {
    background: var(--bg-second);
    border-radius: 5px;
}

.fc-scroller-harness .fc-scroller {
    overflow: hidden !important;
}

.fc .fc-scroller-liquid-absolute {
    overflow: hidden scroll !important;
    border-top: 2px solid var(--color-items-primary)
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 10px;
    padding: 0 2rem;
}

.fc .fc-toolbar-title {
    font-size: .95em;
    color: #b6afaf;
}

.fc .fc-button {
    border: transparent;
    display: inline-block;
    font-size: .9em;
    font-weight: 700;
    line-height: 1.5;
    padding: 0.4em 0.65em;
    text-align: center;
    user-select: none;
    vertical-align: middle;
}
.fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
    box-shadow: transparent 0px 0px 0px 0rem;
}

.fc .fc-timeGridDay-button, .fc .fc-timeGridWeek-button, .fc .fc-dayGridMonth-button {
    background-color: transparent;
    border-radius: 0px;
    color: var(--color-items-primary);
    transition: .1s ease;
}

.fc .fc-timeGridDay-button:not(:disabled).fc-button-active, .fc .fc-timeGridDay-button:not(:disabled):active,
.fc .fc-timeGridWeek-button:not(:disabled).fc-button-active, .fc .fc-timeGridWeek-button:not(:disabled):active,
.fc .fc-dayGridMonth-button:not(:disabled).fc-button-active, .fc .fc-dayGridMonth-button:not(:disabled):active {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid var(--color-items-primary);
    color: var(--color-items-primary);
}

.fc .fc-timeGridDay-button:hover,
.fc .fc-timeGridWeek-button:hover,
.fc .fc-dayGridMonth-button:hover {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid var(--color-items-primary);
    color: var(--color-items-primary);
}

.fc .fc-next-button, .fc .fc-prev-button{
    transition: .1s ease;
    border: transparent;
}

.fc .fc-next-button:not(:disabled):focus, .fc .fc-next-button:not(:disabled):active:focus, 
.fc .fc-prev-button:not(:disabled):focus, .fc .fc-prev-button:not(:disabled):active:focus {
    box-shadow: var(--color-items-second) -39.5px 0 inset;
}

.fc .fc-next-button:hover {
    background-color: var(--color-items-primary);
    border-color: transparent;
    box-shadow: var(--color-items-second) 39.5px 0 inset;
}
.fc .fc-prev-button:hover {
    background-color: var(--color-items-primary);
    border-color: transparent;
    box-shadow: var(--color-items-second) -39.5px 0 inset;
}

.fc .fc-today-button:hover {
    background: var(--color-items-second);
    border: transparent;
}

.fc .fc-col-header-cell {
  color: #b6afaf;                /* texto preto */
  font-weight: 400;
  border-radius: 4px;
}

.fc .fc-col-header-cell.fc-day-today {
  background-color: var(--color-items-primary50);  /* amarelinho */
  color: var(--text-light);
  font-weight: bold;
  border-radius: 4px;
}

.fc .fc-daygrid-day.fc-day-today,
.fc .fc-timegrid-col.fc-day-today {
  background-color: transparent !important;
}

.fc .button-swipe {
    cursor: pointer;
    position: relative;
    background: var(--bg-cont);
    width: 3.2rem;
    height: 1.4rem;
    border-radius: 20px;
    transition: .2s;
}

.fc .button-swipe span {
    position: absolute;
    top: 50%;
    left: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--accent);
    transform: translate(0,-50%);
    transition: .2s ease-in-out;
}

.fc .button-swipe.active {
    background: var(--color-items-second);
}

.fc .button-swipe.active span {
    left: 48.2px;
    transform: translate(-100%,-50%);
}

.fc-timegrid-event .fc-event-main {
    overflow: hidden;
    color: var(--color-items-second);
    font-size: 1em;
    padding: .85rem;
}

.fc-timegrid-event .fc-event-main div {
    color: #B5828C;
}

.fc-v-event {
    border-radius: 10px;
    border: transparent;
    background: #FFCDB2;
    box-shadow: 0px -10px 0px inset #ff8997;
}

.fc-timegrid-event-harness-inset .fc-timegrid-event {
    box-shadow: 0px -10px 0px inset #FFB4A2;
    
}

.fc-timegrid-event-harness-inset .fc-timegrid-event.done {
    background-color: #4ade80;
    box-shadow: 0px -10px 0px inset rgb(43, 196, 119)
}

.fc-timegrid-event.done .fc-event-main div {
    color: rgb(7, 104, 88);
}

.fc-timegrid-event-harness-inset .fc-timegrid-event.not-done {
    box-shadow: 0px -10px 0px inset #ff8997;
}

.fc-timegrid-event.not-done .fc-event-main div {
    color: #ff495b;
}

.fc-timegrid-body, .fc .fc-scrollgrid-section-body table {
    width: 100% !important;
}

#taskList::-webkit-scrollbar {
    width: 7px;
}

#taskList::-webkit-scrollbar-track {
    background: transparent;
}

#taskList::-webkit-scrollbar-thumb {
    background: var(--bg-second);
    border-radius: 5px;
}